
# Ignore environment and secret files
.env
FLASK.env
APIKey.py

# Python cache and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Render and deployment build files
*.db
instance/
